form {
    display: flex;
    align-items: baseline;
    flex-flow: column;
    margin: 8px 18px 0;
  }
  
  form > * {
    margin: 10px 0;
  }
  
  form label {
    font-size: 0.9rem;
    font-weight: 700;
    display: inline-block;
    width: 300px;
    text-align: left;
    margin-right: 5px;
  }
  
  form input {
    font-size: 0.8rem;
    border: none;
    border-radius: 2px;
    padding: 8px;
    width: 300px;
    box-shadow: 0 0 3px 1px lightgray;
  }

  form > button {
    width: 4rem;
    margin-top: 10px ;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-size: 0.85rem;
    background-color: green;
    color: white;
    cursor: pointer;
    transition: all 0.15s;
  }
  
  form > button:hover {
    background-color: dimgray;
  }

  .edit, .delete, .cancel, .add {
    width: 4rem;
    margin-top: 10px ;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-size: 0.85rem;
    color: white;
    cursor: pointer;
    transition: all 0.15s;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
  }

  a {
    text-decoration: none;
  }

  .edit {
    background-color: blue;
  }

  .delete {
    background-color: red;
  }

  .cancel, .add{
    background-color: grey;
  }

  img {
    width: 200px;
    height: 200px
  }

  .user-details {
    display: flex;
    align-items:center;
  }
  .user_posts {
    height: 200px;
    margin-left: 10px;
  }
 
  .post-content{
    font-size: 0.8rem;
    border: none;
    border-radius: 2px;
    padding: 8px;
    width: 300px;
    box-shadow: 0 0 3px 1px lightgray;
    font-family: 'Roboto', sans-serif;
  }

  .by_name {
    font-style: italic;
  }
  

