{% extends 'base.html' %}
    {% block title %} Add new user {% endblock %}
    {% block content %}
    <h1>Edit a user</h1>

    <form action="" method="POST">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" value={{user.first_name}}>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name" value={{user.last_name}}>
        <label for="image">Image URL</label>
        <input type="text" name="image" id="image" value={{user.image_url}}>
        <a href="/users/{{user.id}}" id="cancel">Cancel</a>
        <button>Save</button>
    </form>
    {% endblock %}