{% extends 'base.html' %}
    {% block title %} Post Edit Page {% endblock %}
    {% block content %}

    <form action="" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value={{post.title}}>
        <label for="content">Content</label>
        <textarea name="content" id="content" class="post-content">{{post.content}}</textarea>
        <a href="/users/{{post.user.id}}" class="cancel">Cancel</a>
        <button>Edit</button>
    </form>
    {% endblock %}